.auth-page {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.auth-left {
		display: none;
	}

	.person {
		position: relative;
		bottom: -14px;
		padding-left: 3rem;
		img {
			width: 17rem;
		}
	}

	.auth-right {
		position: relative;
		@include glass;
		height: 68vh;
		min-height: 68vh;
		overflow-y: hidden;
		&::before {
			border-radius: 44px 44px 0 0;
			opacity: 0.6;
			border-top: 0.5px solid var(--secondary-font);
			background: linear-gradient(
				180deg,
				var(--bg-secondary) 0%,
				var(--secondary-font) 100%
			);
		}

		form {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding: 3rem 0 6.5rem 0;

			.heading {
				width: 100%;
				padding-left: 3rem;
				h4 {
					font-size: 2.8rem;
					font-weight: 700;
					color: var(--main-color);
					text-align: left;
					letter-spacing: 2px;
				}
			}

			.credentials {
				position: relative;
				width: 80%;
				max-width: 44rem;
				padding: 2rem 0;
				.input-bar,
				.input-bar-icon {
					margin: 0 auto;
					margin-bottom: 0.6rem;
				}

				.input-bar-icon {
					padding: 1rem;
					.icon {
						font-size: 2rem;
					}
					.eye {
						margin: 0 0 0 0.8rem;
						cursor: pointer;
						font-size: 2.4rem;

						&:hover,
						&:active {
							color: var(--main-color);
						}
					}
				}

				.input-bar {
					display: flex;
					justify-content: space-between;
					input {
						padding: 1rem;
						&:first-child {
							margin-right: 1rem;
						}
					}
				}

				.pass-bar {
					margin-bottom: 3rem;
				}

				.forgot-pass {
					h1 {
						color: var(--main-color);
						text-align: center;
						font-size: 1.4rem;
					}
				}
			}

			.actions {
				width: 90%;
				max-width: 40rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				.btns {
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 2rem 0;
					width: 100%;
					margin-bottom: 1rem;

					.btn-large,
					.btn-google {
						@include centering;
						cursor: pointer;
						height: 46px;
						border-radius: 4px;

						p {
							margin: 0;
							font-size: 14px;
						}
					}
					.btn-large {
						width: 214.63px;
						padding: 8px;
						.spinner-container {
							width: 2.7594rem;
							height: 2.7594rem;
						}
					}
					.or {
						font-size: 1.2rem;
						color: var(--primary-font);
						padding: 0.8rem 0;
					}
					.btn-google {
						padding-right: 32px;
						position: relative;
						@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
						font-family: "Roboto", sans-serif;
						background: var(--google-btn-bg);
						color: var(--google-btn-font);
						white-space: nowrap;
						transition: all 250ms ease-in-out;
						box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

						.icon {
							margin-right: 16px;
							font-size: 18px;
						}

						&:hover,
						&:active,
						&:focus {
							background: var(--google-btn-bg-pressed);
							box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
						}
					}
				}
				.bottom-actions {
					width: 100%;
					@include centering;
					p {
						font-size: 1.2rem;
						color: var(--primary-font);
						margin-right: 1rem;
					}
					button {
						background: none;
						font-size: 1.5rem;
						color: rgb(25, 212, 25);
						cursor: pointer;
					}
				}
			}
		}
	}
}
@media (min-width: $breakpoint-tablet) {
	.auth-page {
		flex-direction: row;

		.auth-left {
			width: 50vw;
			height: 100vh;
			@include centering;

			.left-wrapper {
				width: 100%;
				height: 100%;
				max-height: 120rem;
				display: grid;
				grid-template-columns: 100%;
				grid-template-rows: 1fr 3fr 2fr;
				place-items: center;
				padding: 2rem;

				.logo-section {
					width: 100%;
					img {
						width: 12rem;
						height: auto;
					}
				}

				.circles {
					grid-area: 2/1/3/2;
					padding: 3rem 1rem 0 1rem;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: space-around;
					flex-direction: column;

					.circle {
						padding: 1.6rem;
						border-radius: 50%;
						@include centering;
						@include pressed;
						cursor: default;

						img {
							width: 10rem;
						}

						&:nth-of-type(1) {
							align-self: flex-start;
							background: #b14cf5;
						}
						&:nth-of-type(2) {
							background: gold;
						}
						&:nth-of-type(3) {
							align-self: flex-end;
							background: #f76293;
							overflow: hidden;
							img {
								position: relative;
								bottom: -16px;
							}
						}
					}
				}

				.slogan {
					font-weight: 500;
					font-size: 2.4rem;
					text-align: center;
					line-height: 3.2rem;
					position: relative;
					left: -16px;

					background: -webkit-linear-gradient(
						45deg,
						rgba(161, 66, 245, 0.8) 0%,
						rgba(230, 46, 83, 0.8) 70%
					);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}

		.person {
			display: none;
		}

		.auth-right {
			width: 50vw;
			height: 100%;
			@include centering;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&::before {
				border-radius: 0;
				opacity: 0.7;
				border-top: 0;
			}

			form {
				max-height: 90rem;
				justify-content: space-around;
				padding-bottom: 3rem;
				.heading {
					padding: 0;
					h4 {
						text-align: center;
						font-size: 3rem;
					}
				}
				.credentials {
					.input-bar,
					.input-bar-icon {
						margin-bottom: 0.8rem;
					}
					.input-bar-icon {
						padding: 1.2rem;
						.icon {
							font-size: 2.4rem;
						}
					}
					.input-bar {
						input {
							padding: 1.2rem;
						}
					}
				}
				.actions {
					.btns {
						margin-bottom: 1.6rem;
						.or {
							font-size: 1.4rem;
							padding: 1rem 0;
						}
					}
					.bottom-actions {
						p {
							font-size: 1.4rem;
						}
						button {
							font-size: 1.6rem;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	.auth-page {
		justify-content: space-between;
		align-items: center;

		.auth-left {
			width: 60%;
			min-width: calc(100% - 51rem);

			.left-wrapper {
				padding: 1rem 3.2rem;

				.logo-section {
					img {
						width: 13rem;
					}
				}

				.circles {
					padding: 3rem 2rem 0 2rem;
					flex-direction: row;
					.circle {
						padding: 1.8rem;

						img {
							width: 11rem;
						}

						&:nth-of-type(3) {
							img {
								bottom: -20px;
							}
						}
					}
				}

				.slogan {
					font-size: 3rem;
					line-height: 4rem;
					left: -20px;
				}
			}
		}

		.auth-right {
			width: 40%;
			max-width: 51rem;
			form {
				padding: 4rem 1.6rem 1rem 1.6rem;
				.heading {
					h4 {
						font-size: 3.2rem;
					}
				}
			}
		}
	}
}
