.bookmarks-page {
	.empty-wrapper {
		height: calc(100vh - 13rem);
	}
}
@media (min-width: $breakpoint-tablet) {
	.bookmarks-page {
		.empty-wrapper {
			height: calc(100vh - 15rem);
		}
	}
}
@media (min-width: $breakpoint-desktop) {
	.bookmarks-page {
		.empty-wrapper {
			height: calc(100vh - 17rem);
		}
	}
}
