.dropdown {
	z-index: 999;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background: var(--secondary-font);
	bottom: -150px;
	right: 0;
	border-radius: 4px;
	opacity: 0.95;
	button {
		width: 100%;
		height: 100%;
		background: transparent;
		padding: 1.6rem 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		color: var(--primary-font);
		transition: all 250ms ease-in-out;
		p,
		.icon {
			color: inherit;
		}
		p {
			font-size: 1.5rem;
		}
		.icon {
			margin-right: 1.4rem;
			font-size: 2rem;
		}
		&:hover,
		&:active {
			background: var(--btn-pressed);
			color: white;
		}
	}
}

.card-wrapper {
	width: 90%;
	max-width: 45rem;
	margin-bottom: 2rem;

	.card {
		width: 100%;
		height: 100%;
		@include centering;
		flex-direction: column;
		padding: 1.2rem 0.8rem;
		background: var(--card-bg);
		border-radius: 16px;

		.upper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1.2rem;
			padding: 0 0.4rem;
			position: relative;

			.left {
				@include centering;
				img {
					width: 5.6rem;
					height: 5.6rem;
					object-fit: cover;
					border-radius: 50%;
					margin-right: 1rem;
				}
				.info {
					@include centering;
					flex-direction: column;
					h1 {
						margin-bottom: 6px;
					}
				}
			}

			.right {
				padding: 0.4rem 1.2rem;
				@include centering;
				background: transparent;
				border: 1px solid var(--secondary-font);
				cursor: pointer;
				border-radius: 14px;
				z-index: 4;
				@include pressed;

				.icon {
					color: var(--secondary-font);
					font-size: 2.4rem;
				}
			}
		}
		.img-container {
			max-width: 45rem;
			height: 24rem;
			margin-bottom: 1.2rem;
			background: none;
			cursor: pointer;
			overflow: hidden;
			border-radius: 1.4rem;

			img {
				border-radius: 0.8rem;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform 250ms ease-in-out;
				&:hover,
				&active {
					transform: scale(1.05);
				}
			}
		}
		.socials-bar {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-around;

			button {
				@include centering;
				cursor: pointer;
				background: none;
				.icon-wrapper {
					padding: 0.8rem;
					border-radius: 50%;
					@include centering;
					margin-right: 0.4rem;
					background: transparent;
					transition: all 250ms ease-in-out;

					.icon {
						font-size: 2rem;
						color: var(--secondary-font);
					}
				}
				h2 {
					transition: all 250ms ease-in-out;
				}
				&:hover,
				&:active {
					.icon-wrapper {
						background: var(--btn-pressed);
					}
					h2 {
						color: var(--btn-pressed);
					}
				}
			}
			.clicked {
				.icon-wrapper {
					background: var(--btn-pressed);
				}
				h2 {
					color: var(--btn-pressed);
				}
			}
		}
	}
}

.backdrop {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100vw;
	max-width: unset;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	@include centering;

	.modal {
		width: 85%;
		height: 85%;
		height: auto;
		max-width: 100rem;
		max-height: 80rem;
		min-height: 42rem;
		cursor: default;
		border-radius: 12px;
		overflow-x: hidden;
		background: var(--card-bg);
		position: relative;
		padding: 1.2rem 0.8rem 0 0.8rem;
		margin: 0;

		&::-webkit-scrollbar {
			display: none;
		}

		.img-container {
			max-width: unset;
			height: 60rem;
			margin-bottom: 1rem;
		}
		.comments-wrapper {
			padding: 1.4rem;
			margin-top: 0.4rem;
			overflow-y: scroll;
			&::-webkit-scrollbar {
				display: unset;
				width: 8px;
			}
			&::-webkit-scrollbar-track {
				background: transparent;
			}
			&::-webkit-scrollbar-thumb {
				background: var(--secondary-font);
				border-radius: 16px;
			}
			.comment {
				display: flex;
				margin-bottom: 2.4rem;
				&:last-child {
					margin-bottom: 0;
				}
				.left {
					position: relative;
					margin-right: 2.4rem;
					width: 9rem;
					img {
						position: absolute;
						top: 0;
						width: 4rem;
						height: 4rem;
						border-radius: 50%;
					}
				}
				.right {
					// flex: 6;
					@include centering;
					flex-direction: column;
					.top {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding-top: 0.4rem;
						margin-bottom: 2.4rem;
						h1 {
							font-size: 1.4rem;
						}
						h2 {
							font-size: 1rem;
						}
					}
					.details {
						p {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.dropdown {
		bottom: -162px;
		right: 0;
		button {
			p {
				font-size: 1.7rem;
			}
			.icon {
				font-size: 2.2rem;
			}
		}
	}

	.card-wrapper {
		max-width: 46.8rem;
		margin-bottom: 2.4rem;

		.card {
			padding: 1.4rem;
			.upper {
				margin-bottom: 1.6rem;
				padding: 0 0.8rem;

				.left {
					img {
						margin-right: 1.2rem;
					}
				}
			}
			.img-container {
				margin-bottom: 1.4rem;
				width: 100%;
			}
			.socials-bar {
				button {
					.icon-wrapper {
						padding: 0.8rem;
						margin-right: 0.4rem;
						.icon {
							font-size: 2.4rem;
						}
					}
				}
			}
			.comments-wrapper {
				padding: 1.6rem;

				.comment {
					margin-bottom: 3.2rem;
					.left {
						img {
							width: 5rem;
							height: 5rem;
						}
					}
					.right {
						.top {
							margin-bottom: 2.6rem;
							h1 {
								font-size: 1.6rem;
							}
							h2 {
								font-size: 1.2rem;
							}
						}
						.details {
							p {
								font-size: 1.6rem;
							}
						}
					}
				}
			}
		}
	}

	.backdrop {
		max-width: unset;

		.modal {
			.img-container {
				height: 75rem;
				margin-bottom: 1.6rem;
			}
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	// .card-wrapper {
	// 	width: 46.8rem;
	// 	.card {
	// 		padding: 1.4rem;
	// 		margin: 0;
	// 	}
	// }

	.dropdown {
		bottom: -162px;
		right: 0;
		button {
			p {
				font-size: 1.7rem;
			}
			.icon {
				font-size: 2.2rem;
			}
		}
	}

	.card-wrapper {
		max-width: 46.8rem;
		margin-bottom: 2.4rem;

		.card {
			padding: 1.4rem;
			.upper {
				margin-bottom: 1.6rem;
				padding: 0 0.8rem;

				.left {
					img {
						margin-right: 1.2rem;
					}
				}
			}
			.img-container {
				margin-bottom: 1.4rem;
				width: 100%;
			}
			.socials-bar {
				button {
					.icon-wrapper {
						padding: 0.8rem;
						margin-right: 0.4rem;
						.icon {
							font-size: 2.4rem;
						}
					}
				}
			}
			.comments-wrapper {
				padding: 1.6rem;

				.comment {
					margin-bottom: 3.2rem;
					.left {
						img {
							width: 5rem;
							height: 5rem;
						}
					}
					.right {
						.top {
							margin-bottom: 2.6rem;
							h1 {
								font-size: 1.6rem;
							}
							h2 {
								font-size: 1.2rem;
							}
						}
						.details {
							p {
								font-size: 1.6rem;
							}
						}
					}
				}
			}
		}
	}

	.backdrop {
		max-width: unset;

		.modal {
			.img-container {
				height: 75rem;
				margin-bottom: 1.6rem;
			}
		}
	}
}
