.upper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.2rem;
	padding: 0 0.4rem;

	.user-avatar-container {
		@include centering;
		img {
			width: 5.6rem;
			height: 5.6rem;
			object-fit: cover;
			border-radius: 50%;
			margin-right: 1rem;
		}
		.info {
			@include centering;
			flex-direction: column;
			h1 {
				margin-bottom: 6px;
			}
		}
	}

	button {
		padding: 0.4rem 1.2rem;
		@include centering;
		background: transparent;
		border: 1px solid var(--secondary-font);
		cursor: pointer;
		border-radius: 1.4rem;
		.icon {
			color: var(--secondary-font);
			font-size: 2.4rem;
		}
	}
}

.socials-bar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;

	button {
		@include centering;
		cursor: pointer;
		background: none;
		.icon-wrapper {
			padding: 0.8rem;
			border-radius: 50%;
			@include centering;
			margin-right: 0.4rem;
			background: transparent;
			transition: all 250ms ease-in-out;

			.icon {
				font-size: 2rem;
				color: var(--secondary-font);
			}
		}
		h2 {
			transition: all 250ms ease-in-out;
		}
		&:hover,
		&:active {
			.icon-wrapper {
				background: var(--btn-pressed);
			}
			h2 {
				color: var(--btn-pressed);
			}
		}
	}
	.clicked {
		.icon-wrapper {
			background: var(--btn-pressed);
		}
		h2 {
			color: var(--btn-pressed);
		}
	}
}

.card {
	width: 90%;
	max-width: 45rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.2rem 0.8rem;
	background: var(--card-bg);
	border-radius: 16px;
	margin-bottom: 2rem;
	.img-container {
		max-width: 45rem;
		margin-bottom: 1.2rem;
		background: none;
		cursor: pointer;
		overflow: hidden;
		border-radius: 1.4rem;

		img {
			border-radius: 1.4rem;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 250ms ease-in-out;
			&:hover,
			&active {
				transform: scale(1.05);
			}
		}
	}
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	z-index: 10;
	@include centering;
	opacity: 0;
	animation: smooth-in 0.3s ease-in forwards 0.3s;

	.modal {
		width: 85%;
		height: 85%;
		max-width: 100rem;
		max-height: 90rem;
		z-index: 11;
		cursor: default;
		border-radius: 12px;
		overflow-x: hidden;
		background: var(--card-bg);
		position: relative;
		&::-webkit-scrollbar {
			display: none;
		}

		.close-modal {
			background: transparent;
			border: 1px solid var(--secondary-font);
			padding: 0.6rem 1rem;
			@include centering;
			border-radius: 14px;
			cursor: pointer;
			transition: all 250ms ease-in-out;
			z-index: 4;

			.icon {
				font-size: 1.8rem;
				color: var(--secondary-font);
			}

			&:hover,
			&:active {
				transform: scale(0.85);
			}
		}
		.upper {
			padding: 1rem;
			margin: 0;
		}
		.img-container {
			max-width: unset;
			height: 40%;
			margin-bottom: 1rem;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

.comments-wrapper {
	padding: 1.4rem;
	margin-top: 0.4rem;

	.comment {
		display: flex;
		margin-bottom: 2.4rem;
		.left {
			position: relative;
			margin-right: 2.4rem;
			// flex: 1;
			width: 9rem;
			img {
				position: absolute;
				top: 0;
				width: 4rem;
				height: 4rem;
				border-radius: 50%;
			}
		}
		.right {
			// flex: 6;
			@include centering;
			flex-direction: column;
			.top {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-top: 0.4rem;
				margin-bottom: 2.4rem;
				h1 {
					font-size: 1.4rem;
				}
				h2 {
					font-size: 1rem;
				}
			}
			.details {
				p {
					font-size: 1.5rem;
				}
			}
		}
	}
}

@keyframes smooth-in {
	100% {
		opacity: 1;
	}
}
