.home-page,
.bookmarks-page,
.cards-container {
	@include centering;
	flex-direction: column;
}

.home-welcome {
	width: 100%;
	height: calc(100vh - 18rem);
	@include centering;
	flex-direction: column;

	.text {
		position: relative;
		top: -20px;
		h1 {
			font-size: 2.2rem;
			padding: 0 5rem;
			text-align: center;
		}
		p {
			padding: 2rem 6rem;
			text-align: center;
		}
	}

	img {
		width: 85%;
		height: auto;
	}
}

@media (min-width: $breakpoint-desktop) {
	.home-page,
	.cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, 46.8rem);
		grid-gap: 4rem;
		padding: 0 4rem;
	}
}
