.home-page,
.home-page-empty {
	width: 100%;
	height: 100%;
}
.home-page {
	padding-bottom: 8rem;
}

.home-page-empty {
	height: 100vh;
	padding-top: 6.4rem;
	@include centering;
	flex-direction: column;
	position: relative;

	.text {
		position: relative;
		top: -20px;
		h1 {
			font-size: 2.2rem;
			padding: 0 5rem;
			text-align: center;
		}
		p {
			padding: 2rem 6rem;
			text-align: center;
		}
	}

	img {
		width: 60%;
		max-width: 38rem;
		height: auto;
	}
}

@media (min-width: $breakpoint-tablet) {
	.home-page-empty {
		padding-top: 7.2rem;
		.text {
			top: -5px;
			h1 {
				font-size: 3rem;
			}
			p {
				padding: 2.4rem 2rem;
				font-size: 2rem;
			}
		}
		img {
			margin-top: -3rem;
		}
	}
}
@media (min-width: $breakpoint-desktop) {
	.home-page,
	.home-page-empty {
		padding-left: 21.5rem;
	}
	.home-page {
		padding-bottom: 2rem;
	}
	.home-page-empty {
		.text {
			top: 0px;
			p {
				padding: 3rem 4rem;
			}
		}
		img {
			padding-bottom: 1.8rem;
		}
	}
}
