header,
nav {
	position: fixed;
	@include glass;
	z-index: 5;
}

header {
	top: 0;
	height: 6.4rem;
	width: 100vw;
	@include centering;

	.header-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.8rem 1.6rem;

		.theme-wrapper {
			button {
				@include centering;
				padding: 1.2rem;
				border-radius: 16px;
				background: var(--card-bg);
				border: 1px solid var(--secondary-font);
				cursor: pointer;
				transition: all 250ms ease-in-out;

				.icon {
					color: var(--theme-icon);
					font-size: 2.2rem;
				}
				&:hover,
				&:active {
					background: var(--theme-icon);
					border-color: transparent;
					.icon {
						color: var(--card-bg);
					}
					transform: scale(0.97);
				}
			}
		}
		.header-info-wrapper {
			@include centering;

			.go-back {
				@include centering;
				padding: 0.8rem;
				margin-right: 0.8rem;
				border-radius: 50%;
				margin-left: -0.8rem;
				cursor: pointer;
				.icon {
					font-size: 2.4rem;
					color: var(--primary-font);
				}
				&:hover,
				&:active {
					background: var(--secondary-font);
					.icon {
						color: white;
					}
				}
			}
		}
	}
}

.avatar-wrapper {
	@include centering;
	cursor: pointer;
	@include pressed;
	img {
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		border: 1px solid var(--main-color);
	}
}

nav {
	bottom: -24px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	max-width: 62rem;

	&::before {
		border-radius: 32px;
	}

	.wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.nav-item {
			@include centering;
			padding: 1.8rem;
			border-radius: 50%;
			@include pressed;

			.icon {
				font-size: 3rem;
				color: var(--nav-icon-unpressed);
			}
		}
		.pressed {
			background: var(--nav-pressed);
			opacity: 0;
			@include fade-in;
			animation-delay: 0s;
			.icon {
				color: white;
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	header {
		top: 0;
		height: 8rem;

		.header-wrapper {
			padding: 1.6rem 3rem;

			.logo-wrapper {
				img {
					width: 12rem;
				}
			}
			.theme-wrapper {
				button {
					padding: 1.4rem;
					.icon {
						font-size: 2.4rem;
					}
				}
			}
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	header {
		.header-wrapper {
			max-width: 2200px;

			.logo-wrapper {
				img {
					width: 13rem;
				}
			}
			.theme-wrapper {
				button {
					padding: 1.4rem;
					.icon {
						font-size: 2.4rem;
					}
				}
			}
		}
	}
}
