.dropdown {
	z-index: 999;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	top: 5.2rem;
	right: 0.4rem;
	border-radius: 2px;
	@include glass;
	border: 1px solid var(--secondary-font);

	.dropdown-btn {
		width: 100%;
		height: 100%;
		background: transparent;
		padding: 1.6rem 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		color: var(--primary-font);
		transition: all 250ms ease-in-out;
		p,
		.icon {
			color: inherit;
		}
		p {
			font-size: 1.5rem;
		}
		.icon {
			margin-right: 1.4rem;
			font-size: 2rem;
		}
		&:hover,
		&:active {
			background: var(--secondary-font);
			color: white;
		}
	}
}

.card {
	width: 92.5%;
	height: auto;
	max-width: 50rem;
	margin-bottom: 2rem;
	@include centering;
	flex-direction: column;
	padding: 1.2rem 0.6rem;
	position: relative;
	@include card-glass;

	.card-upper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.4rem;
		padding: 0 0.4rem;
		position: relative;

		.left {
			@include centering;
			img {
				width: 5.6rem;
				height: 5.6rem;
				object-fit: cover;
				border-radius: 50%;
				margin-right: 1rem;
				@include pressed;
				border: 1px solid var(--secondary-font);
			}
			.info {
				@include centering;
				flex-direction: column;
				align-items: flex-start;
				h1 {
					margin-bottom: 5px;
				}
			}
		}

		.right {
			padding: 0.3rem 1rem;
			@include centering;
			background: transparent;
			border: 1px solid var(--secondary-font);
			cursor: pointer;
			border-radius: 14px;
			z-index: 4;
			@include pressed;

			.icon {
				color: var(--secondary-font);
				font-size: 2.4rem;
			}
		}
	}
	.img-unopened {
		height: auto;
		width: 100%;
		max-width: 45rem;
		object-fit: cover;
		transition: transform 250ms ease-in-out;
		&:hover,
		&active {
			transform: scale(0.99);
		}
		margin-bottom: 1.4rem;
		background: none;
		cursor: pointer;
		overflow: hidden;
		border-radius: 8px;
	}
	.caption {
		margin-bottom: 1rem;
		width: 100%;
		text-align: left;
		padding: 0.8rem;
	}
}

.modal-img {
	background: rgba(0, 0, 0, 0.98);
	.modal-container {
		width: unset;
		max-width: unset;
		height: unset;
		background: unset;
		cursor: unset;
		padding: 0;
		border-radius: unset;
		@include centering;

		.btn-icon {
			z-index: 99999999;
			position: fixed;
			top: 2.4rem;
			right: 2.4rem;
		}

		img {
			width: 100%;
			height: auto;
			max-height: 70vh;
			object-fit: contain;
			cursor: default;
			border-radius: 0;
			overflow-x: hidden;
			padding: 0;
			&:hover,
			&:active {
				transform: unset;
			}
		}
	}
}

.edit-btns {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 0.8rem;
}

//Likes/Comments Section
.card-bottom {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;

	.socials-bar {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;

		.socials-btn {
			@include centering;
			cursor: pointer;
			background: none;
			transition: all 250ms ease-in-out;
			.icon-wrapper {
				padding: 0.8rem;
				border-radius: 50%;
				@include centering;
				margin-right: 0.4rem;

				.icon {
					font-size: 2rem;
					color: var(--secondary-font);
				}
			}
			h2 {
				transition: all 250ms ease-in-out;
			}
			&:hover,
			&:active {
				.icon-wrapper {
					.icon {
						color: var(--main-color);
					}
				}
				h2 {
					color: var(--main-color);
				}
			}
		}
		.clicked {
			.icon-wrapper {
				.icon {
					color: var(--main-color);
				}
			}
			h2 {
				color: var(--main-color);
			}
		}
	}

	.comments-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;

		&::-webkit-scrollbar {
			display: none;
		}

		.add-comment {
			width: 100%;
			display: flex;
			padding: 1.6rem 1rem;
			.left {
				width: 4rem;
				height: auto;
				margin: 0 auto;

				img {
					border-radius: 50%;
					width: 3.2rem;
					height: 3.2rem;
					object-fit: cover;
					border: 1px solid var(--secondary-font);
				}
			}
			.right {
				width: calc(100% - 4rem);
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				textarea {
					margin-bottom: 0.2rem;
					background: transparent;
				}
				.btn-medium {
					width: 10.858rem;
					.spinner-container {
						width: 1.4938rem;
						height: 1.4938rem;
					}
					p {
						margin-right: 0;
						font-size: 1.3rem;
					}
				}
			}
		}

		.no-comments {
			margin: 0 auto;
		}

		.comment {
			opacity: 0;
			animation: sliding-inn 200ms ease-in forwards;
			@keyframes sliding-inn {
				0% {
					opacity: 0;
					transform: translateY(-20px);
				}
				100% {
					opacity: 1;
					transform: translateY(0px);
				}
			}
			background: var(--bg-secondary);
			border-radius: 12px;
			margin-bottom: 0.8rem;
			padding: 0.4rem 0.4rem 0.8rem 0.4rem;
			display: flex;
			&:last-child {
				margin-bottom: 0;
			}
			.left {
				position: relative;
				width: 5rem;
				img {
					position: absolute;
					top: 0;
					width: 4rem;
					height: 4rem;
					border-radius: 50%;
					@include pressed;
					border: 1px solid var(--secondary-font);
					object-fit: cover;
				}
			}
			.right {
				width: calc(100% - 5.6rem);
				@include centering;
				flex-direction: column;
				.top {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding-top: 0.4rem;
					margin-bottom: 1.2rem;
					h1 {
						margin-bottom: 0.3rem;
					}
					.delete-icon {
						padding: 0.6rem;
						@include pressed;
						@include centering;

						.icon {
							font-size: 1.8rem;
							color: var(--main-color);
						}
					}
				}
				.details {
					width: 100%;
					p {
						font-size: 1.5rem;
						text-align: left;
					}
				}
			}
			.delete-comment-wrapper {
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				align-items: center;

				h1 {
					text-align: center;
					padding: 1rem 1rem 1.6rem 1rem;
					font-weight: 500;
					font-size: 1.7rem;
					max-width: 85%;
				}

				.delete-btns {
					width: 100%;
					display: flex;
					justify-content: space-around;
					padding-bottom: 0.4rem;
					.btn-medium {
						p {
							margin: 0;
						}
						&:nth-of-type(1) {
							width: 7.867rem;
						}
						.spinner-container {
							width: 1.725rem;
							height: 1.725rem;
						}
					}
				}
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.card {
		padding: 1.4rem;

		.card-upper {
			padding: 0 0.8rem;

			.left {
				img {
					width: 6rem;
					height: 6rem;
					margin-right: 1.2rem;
				}
				.info {
					h1 {
						margin-bottom: 8px;
					}
				}
			}
		}
	}

	.modal-img {
		.modal-container {
			.btn-icon {
				top: 3.2rem;
				right: 3.2rem;
			}
		}
	}

	.card-bottom {
		.socials-bar {
			.socials-btn {
				.icon-wrapper {
					.icon {
						font-size: 2.4rem;
					}
				}
			}
		}

		.comments-wrapper {
			.add-comment {
				.right {
					.btn-medium {
						width: 11.923rem;
						.spinner-container {
							width: 1.6094rem;
							height: 1.6094rem;
						}
						p {
							margin-right: 0;
							font-size: 1.4rem;
						}
					}
				}
			}

			.no-comments {
				font-size: 1.6rem;
			}

			.comment {
				.right {
					.top {
						h1 {
							margin-bottom: 0.5rem;
						}
						.delete-icon {
							.icon {
								font-size: 2rem;
							}
						}
					}
					.details {
						p {
							font-size: 1.6rem;
						}
					}
				}
				.delete-comment-wrapper {
					h1 {
						font-size: 2rem;
					}
					.delete-btns {
						.btn-medium {
							&:nth-of-type(1) {
								width: 7.866rem;
							}
							.spinner-container {
								width: 1.839rem;
								height: 1.839rem;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: $breakpoint-desktop) {
	.modal-img {
		.modal-container {
			img {
				max-height: 75vh;
			}
		}
	}
}
