.backdrop {
	opacity: 0;
	@include backdrop;
	background: rgba(0, 0, 0, 0.85);
	animation: fading-in 0.2s ease-in forwards;
	@keyframes fading-in {
		100% {
			opacity: 1;
		}
	}
	.left-bar {
		position: fixed;
		width: 72vw;
		max-width: 30rem;
		height: 100vh;
		top: 0;
		left: 0;
		background: var(--bg-secondary);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transform: translate(-100px);
		opacity: 0;
		animation: slide-in 0.2s ease-in forwards 0.1s;
		@keyframes slide-in {
			100% {
				transform: translate(0);
				opacity: 1;
			}
		}

		.left-bar-upper {
			margin-bottom: 1.6rem;
			padding: 2.4rem 0 3.2rem 2.4rem;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 0.5px;
				background: var(--secondary-font);
				opacity: 0.4;
			}
			.user-info {
				@include centering;
				flex-direction: column;
				align-items: flex-start;
				img {
					margin-bottom: 1.4rem;
					width: 6rem;
					height: 6rem;
					border-radius: 50%;
					@include pressed;
					border: 2px solid var(--secondary-font);
				}
				h1 {
					font-size: 1.6rem;
					font-weight: 500;
					color: var(--main-color);
				}
			}
		}
		.left-bar-links {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			cursor: default;
			.link-container {
				width: 100%;
				@include centering;
				justify-content: flex-start;
				padding: 2.6rem 0.4rem 2.6rem 1.6rem;
				font-size: 2rem;
				color: var(--primary-font);
				cursor: pointer;
				h3 {
					font-weight: 500;
					font-size: inherit;
					color: inherit;
				}
				.icon {
					font-size: inherit;
					color: inherit;
					margin-right: 1.6rem;
				}
				&:hover,
				&:active {
					background: var(--secondary-font);
					color: white;
				}
			}
		}
		.left-bar-bottom {
			margin: 4rem auto;
			width: 100%;
			@include centering;
			img {
				width: 70%;
				height: auto;
			}
		}
	}
}

.signout-container {
	position: relative;
	width: 80%;
	max-height: 70%;
	height: auto;
	background: var(--bg-secondary);
	cursor: default;
	padding: 2rem;
	border-radius: 16px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6), -1px -2px 8px rgba(0, 0, 0, 0.6);
	@include centering;
	justify-content: space-around;
	flex-wrap: wrap;

	h3 {
		font-size: 1.6rem;
		font-weight: 700;
		text-align: center;
		padding: 1rem 1.6rem 2.8rem 1.6rem;
		padding: 0 1.6rem 2.4rem 1.6rem;
	}

	.btn-large {
		margin-bottom: 2.4rem;
	}
}
