.get-started-page {
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	@include centering;

	.wrapper {
		width: 100%;
		height: 95%;
		max-height: 120rem;
		@include centering;
		flex-direction: column;
		justify-content: space-around;

		.welcome-container {
			width: 100%;
			max-width: 50rem;

			#welcome-svg:not(.animated) .animable {
				opacity: 0;
			}
			svg {
				#svg-bg {
					animation: 1s 1 forwards ease-in fadeIn;
					animation-delay: 0s;
				}
				#character-3 {
					animation: 1s 1 forwards ease-in slideRight;
					animation-delay: 0s;
				}
				#character-2 {
					animation: 1s 1 forwards ease-in slideUp;
					animation-delay: 0s;
				}
				#character-1 {
					animation: 1s 1 forwards ease-in slideLeft;
					animation-delay: 0s;
				}
				#garlands {
					animation: 1s 1 forwards ease-in slideDown;
					animation-delay: 0s;
				}
				#confetti {
					animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn,
						1.5s Infinite linear floating;
					animation-delay: 0s, 1s;
				}
				#balloons {
					animation: 1s 1 forwards ease-in fadeIn, 1.5s Infinite linear floating;
					animation-delay: 0s, 1s;
				}
				@keyframes fadeIn {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
				@keyframes slideRight {
					0% {
						opacity: 0;
						transform: translateX(30px);
					}
					100% {
						opacity: 1;
						transform: translateX(0);
					}
				}
				@keyframes slideUp {
					0% {
						opacity: 0;
						transform: translateY(30px);
					}
					100% {
						opacity: 1;
						transform: inherit;
					}
				}
				@keyframes slideLeft {
					0% {
						opacity: 0;
						transform: translateX(-30px);
					}
					100% {
						opacity: 1;
						transform: translateX(0);
					}
				}
				@keyframes slideDown {
					0% {
						opacity: 0;
						transform: translateY(-30px);
					}
					100% {
						opacity: 1;
						transform: translateY(0);
					}
				}
				@keyframes floating {
					0% {
						opacity: 1;
						transform: translateY(0px);
					}
					50% {
						transform: translateY(-10px);
					}
					100% {
						opacity: 1;
						transform: translateY(0px);
					}
				}
			}
		}
		.info {
			width: 100%;
			height: 55%;
			max-width: 45rem;
			padding: 0 1.4rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.desc {
				text-align: center;
				margin-bottom: 1rem;

				h1 {
					font-weight: 700;
					font-size: 3.2rem;
					letter-spacing: -2px;
					margin-bottom: 3rem;
					background: -webkit-linear-gradient(180deg, #b24bf5 0%, #f41760 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				p {
					font-size: 1.8rem;
					font-weight: 500;
					margin-bottom: 0.8rem;
				}
				h2 {
					color: var(--secondary-font);
					font-size: 1.8rem;
				}
			}
			.btn-large {
				width: max-content;
				margin: 0 auto;
				margin-bottom: 1rem;
			}
			details {
				margin-bottom: 1rem;

				summary > * {
					display: inline;
				}
				summary {
					cursor: pointer;
					font-size: 1.4rem;
					color: var(--secondary-font);
					transition: color 250ms ease-in-out;
					&:hover,
					&:active {
						color: var(--main-color);
					}
				}

				p {
					font-size: 1.5rem;
					line-height: 15px;
					font-weight: 300;
					.link {
						color: var(--main-color);
						font-size: 1.5rem;
						font-weight: 700;
					}
				}
			}
			.private-links {
				height: 10%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-around;
				a {
					font-size: 1.2rem;
					color: var(--secondary-font);
					transition: all 150ms ease-in;
					&:hover,
					&:active {
						transform: scale(1.02);
						color: var(--main-color);
					}
				}
			}
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.get-started-page {
		width: 99%;
		margin: 0 auto;
		.wrapper {
			width: 100%;
			height: 100%;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			max-width: 150rem;
			margin: 0 auto;

			.welcome-container {
				max-width: unset;
			}

			.info {
				height: 95%;
				justify-content: space-evenly;

				.desc {
					padding-right: 1.6rem;
					h1 {
						font-size: 4rem;
						margin-bottom: 3rem;
					}
					p {
						margin-bottom: 2rem;
						max-width: 60rem;
					}
				}

				details {
					margin-bottom: -4rem;
					summary {
						padding-bottom: 0.8rem;
					}

					p {
						padding-right: 2rem;
						line-height: 2rem;
					}
				}
				.private-links {
					margin-bottom: -3rem;
				}
			}
		}
	}
}

@media (min-width: 1080px) {
	.get-started-page {
		.wrapper {
			.info {
				max-width: 44%;
				.desc {
					h1 {
						font-size: 6rem;
						margin-bottom: 5rem;
					}
					p {
						font-size: 2.4rem;
						margin-bottom: 2.4rem;
					}
					h2 {
						font-size: 2.2rem;
					}
				}

				details {
					margin-bottom: -2rem;

					p {
						line-height: 2.1rem;
					}
				}
			}
			.welcome-container {
				max-width: 56%;
			}
		}
	}
}
