.home-page,
.cards-container {
	@include centering;
	flex-direction: column;
}

@media (min-width: $breakpoint-desktop) {
	.home-page,
	.cards-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, 46.8rem);
		grid-gap: 4rem;
		padding: 0 4rem;
	}
}
