.private-container {
	position: relative;
	@include card-glass;
	width: 95%;
	max-width: 100rem;
	padding: 1.6rem;
	margin: 7.4rem auto 4rem auto;
	h1 {
		text-align: left;
		padding: 3rem 0 1rem 0;
		font-size: 2rem;
		color: var(--secondary-font);
		font-weight: 500;
	}

	p,
	li {
		font-size: 1.6rem;
		margin-bottom: 0.4rem;
		color: var(--primary-font);
	}
}

@media (min-width: $breakpoint-tablet) {
	.private-container {
		width: 90%;
		padding: 2rem;
		margin-top: 8.2rem;
		h1 {
			padding: 3rem 0 1rem 0;
			font-size: 2.2rem;
			&:nth-of-type(1) {
				font-size: 2.6rem;
			}
		}

		p,
		li {
			font-size: 1.7rem;
			margin-bottom: 0.6rem;
		}
		h2 {
			font-size: 1.8rem;
			margin-bottom: 0.8rem;
			color: var(--main-color);
		}
	}
}

@media (min-width: $breakpoint-max-desktop) {
	.private-container {
		background: var(--card-bg);
		border-radius: 16px;
		border: 1px solid var(--secondary-font);
	}
}
