.error-container {
	margin: 0 auto;
	width: 90%;
	max-width: 40rem;
	padding: 0.6rem;
	border-radius: 4px;
	position: absolute;
	top: 7.4rem;
	left: 50%;
	transform: translateX(-50%) translateY(-20px);
	background: rgb(209, 7, 7);
	z-index: 999999;
	color: wheat;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	opacity: 0;

	.icon {
		color: inherit;
		font-size: 2.2rem;
		margin-right: 0.8rem;
		align-self: flex-start;
	}
	h1 {
		color: inherit;
		font-size: 1.6rem;
		line-height: 2.2rem;
	}

	animation: error-animation 100ms ease-in forwards;
	@keyframes error-animation {
		0% {
			opacity: 0;
			transform: translateX(-50%) translateY(-20px);
		}
		100% {
			opacity: 1;
			transform: translateX(-50%) translateY(0px);
		}
	}
}

.loading-container {
	// width: 100%;
	// height: 100%;
	margin-top: 3rem;
	height: auto;
	@include centering;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	svg {
		width: 70%;
	}

	.loading {
		fill: var(--main-color);
	}
}

.modal-backdrop {
	@include backdrop;
	opacity: 0;
	animation: fading-in 0.2s ease-in forwards;
	@keyframes fading-in {
		100% {
			opacity: 1;
		}
	}

	.modal-container {
		position: relative;
		width: 80%;
		max-width: 40rem;
		height: auto;
		background: var(--bg-secondary);
		cursor: default;
		padding: 2rem;
		border-radius: 16px;
		box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6), -1px -2px 8px rgba(0, 0, 0, 0.6);

		h3 {
			text-align: center;
			padding: 1rem 1.6rem 2.8rem 1.6rem;
			padding: 0 1.6rem 2.4rem 1.6rem;
			font-size: 1.8rem;
			line-height: 2rem;
			font-weight: 500;
		}

		.btns {
			@include centering;
			justify-content: space-around;
			width: 100%;
			flex-wrap: wrap;
			gap: 1rem;
		}
	}
}

.conditional-container {
	margin: 0 auto;
	width: 80%;
	max-width: 44rem;
	padding: 1.6rem;
	border-radius: 16px;
	position: relative;
	@include card-glass;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	.success-icon {
		font-size: 20rem;
		color: green;
		margin-bottom: 1rem;
	}
	h1 {
		text-align: center;
		font-weight: 700;
		color: green;
		font-size: 1.4rem;
	}
}

.textarea {
	width: 100%;
	.counter {
		margin: 0 0 0.4rem 1.4rem;
		span {
			color: red;
			margin-left: 2px;
		}
	}
}

@media (min-width: $breakpoint-tablet) {
	.modal-backdrop {
		.modal-container {
			padding: 2rem;
			h3 {
				font-size: 2rem;
				line-height: 2.6rem;
			}
		}
	}
}
